@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.AppContainer {
  background-color: black;
  background: url("coronavirus-artwork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 20px 0px 20px 20px;
  background-position: 50% 0%;
  color: white;
  width: 100vw;
  min-height: 100vh;
  height: 100%;


  font-family: "Dosis", sans-serif;
  font-size: 16px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.container {
  width: inherit;
  height: inherit;

  display: grid;
  grid-template-rows: 70px 1fr 100px;
  grid-template-columns: 1fr 250px;
  grid-column-gap: 20px;
  grid-template-areas: "header header"
                       "content right"
                       "footer footer";
  
  animation: fadein 2s;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.cases , .discharged, .treatment, .deaths {
  text-transform: uppercase;
}

/* .date {
  margin-bottom: 20px;
} */

.cases {
  text-transform: uppercase;
  color: #b2dbd4;
}

.discharged {
  color: #42ff75;
}

.treatment {
  color: #ff3b3b;
}

.header {
  grid-area: header;
  text-align: right;
  align-self: center;
  padding: 20px;
}

.footer {
  grid-area: footer;
  padding: 20px;
  text-align: center;
  font-size: 0.75em;
}

.content {
  grid-area: content;
}

.right {
  grid-area: right;
  padding: 0 20px;
}

.sgp-map {
  transform: translate(0, -25px);
}

/* tooltip */
.tooltip {
  background-color: #465c59;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  animation: fadein 0.2s;
}

.circle:hover {
  fill: #465c59;
  stroke: #b2dbd4;
}

.tooltip_text {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* nationality tally */
.nationalityTallyContainer {
  margin: 30px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tallyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*age bar chart */
.ageBarChart {
  height: 200px;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.barGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ageBar {
  height: 18px;
  border: 1px solid black;
}

/* loading */
.loadingContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* date slider */
.dateSliderGroup {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

.dateSlider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 80%;
  height: 0.3em;
  border-radius: 0.3em;
  background-color: #b2dbd4;
}

.dateSliderTicks {
  width: 80%;
  display: grid;
}

.dayTicks {
  border-left: 1px solid #b2dbd4;
  border-right: 1px solid #b2dbd4;
  height: 5px;
  display: flex;
  flex-direction: column;
}

.dayTicksLabel {
  transform: rotate(90deg);
  font-size: 0.5em;
}

.dateSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 0.5em;
  height: 2em;
  background: #b2dbd4;
  border: 0.2em solid #b2dbd4;
  /* border-radius: 1.2em; */
  cursor: pointer;
}

.dateSlider::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 0.5em;
  height: 2em;
  background: #b2dbd4;
  border: 0.2em solid #b2dbd4;
  border-radius: 1.2em;
  cursor: pointer;
}

.dateSlider::-ms-thumb {
  appearance: none;
  width: 0.5em;
  height: 2em;
  background: #b2dbd4;
  border: 0.2em solid #b2dbd4;
  border-radius: 1.2em;
  cursor: pointer;
}

a:link {
  color: white;
}

/* media query for flexing */
@media only screen and (max-width: 800px) {
  .container {
    width: inherit;
    height: fit-content;
  
    display: grid;
    /* grid-template-rows: 70px 1fr 100px;
    grid-template-columns: 1fr 250px; */
    grid-template-rows: 70px 1fr 1fr 250px;
    grid-template-columns: auto;
    grid-column-gap: 20px;
    grid-template-areas: "header"
                         "content" 
                         "right"
                         "footer";
    
    animation: fadein 2s;
  }
  
  .caseText {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
    margin-top: 10px;
  }

  .nationalityTallyContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}